<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <property name="hibernate.search.worker.backend">jms</property>

        <property name="hibernate.search.worker.jndi.url">tcp://localhost:61616</property>
        <property name="hibernate.search.worker.jms.connection_factory">java:comp/env/jms/ConnectionFactory</property>
        <property name="hibernate.search.worker.jms.queue">java:comp/env/queue/hibernatesearch</property>

        <property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSSlaveDirectoryProvider</property>
        <property name="hibernate.search.default.refresh">1800</property>
        <property name="hibernate.search.default.indexBase">/tmp/lucene_indexes/hsdemo</property>
        <property name="hibernate.search.default.sourceBase">/tmp/mnt/share</property>

        <mapping class="com.jrock.hsdemo.Movie"/>


	</session-factory>
</hibernate-configuration>